<section class="favorites__section js-favorites">
    <h2 class="favorites__section--title">Tus series favoritas</h2>
    <ul class="favList js-favListContainer">
        <!-- Aquí empieza el código que vamos a generar desde JS -->
        <li class="favList__li js-favList">
          <div class="favList__results">
          <img class="js-serieImg" src="" alt="" title="" size="210x295">
          <h3 class="favList__title js-serieTitle">Serie</h3>
          </div>
        </li>
    <li class="favList__li js-favList">
          <div class="favList__results">
          <img class="js-serieImg" src="" alt="" title="" size="210x295">
          <h3 class="favList__title js-serieTitle">Serie</h3>
          </div>
        </li>
    <li class="favList__li js-favList">
          <div class="favList__results">
          <img class="js-serieImg" src="" alt="" title="" size="210x295">
          <h3 class="favList__title js-serieTitle">Serie</h3>
          </div>
        </li>
    <li class="favList__li js-favList">
          <div class="favList__results">
          <img class="js-serieImg" src="" alt="" title="" size="210x295">
          <h3 class="favList__title js-serieTitle">Serie</h3>
          </div>
        </li>
        <!-- Aquí acaba el código que vamos a generar desde JS -->
    </ul>

</section>