<main class="page__main">
  <form action="" method="post" class="js-form">
    <h2 class="page__main--title">Bienvenido a TV Maze, tu buscador de series</h2>
    <fieldset class="page__main--fieldset">
      <label for="setSeries" class="page__main--label">Buscador de series</label>
      <input placeholder ="¿Qué serie te apetece ver hoy?" type="text" id="setSeries" name="setSeries" class="page__main--input js-seriesInput">
              <input type="submit" class="page__main--button search js-searchBtn" value="Buscar" />
              <input type="reset" class="page__main--button js-resetBtn" value="Borra" />
    </fieldset>
    <div class="page__main--results">
      <h2 class="subtitle">Resultados de búsqueda</h2>
      <ul class="searchList js-searchList">
        <!-- LO QUE TENGO QUE PINTAR
          <li class="searchList__li js-movie">
          <img class="js-movieImg" src="https://via.placeholder.com/210x295/ffffff/666666/?" alt="" title="">
          <h3 class="searchList__title js-movieTitle">perico de los palotes</h3>
        </li>
        <li class="searchList__li js-movie">
          <img class="js-movieImg" src="https://via.placeholder.com/210x295/ffffff/666666/?" alt="" title="">
          <h3 class="searchList__title js-movieTitle">perico de los palotes</h3>
        </li>
        <li class="searchList__li js-movie">
          <img class="js-movieImg" src="https://via.placeholder.com/210x295/ffffff/666666/?" alt="" title="">
          <h3 class="searchList__title js-movieTitle">perico de los palotes</h3>
        </li> -->
        
      </ul>
      
    </div>
  </form>
</main>
