<main class="page__main">
  <form action=""  class="js-form">
    <div class="wrapper">
      <h2 class="page__main--title">Bienvenidos</h2>
      <fieldset class="page__main--fieldset">
        <label for="setSeries" class="page__main--label">Buscador de series</label>
        <input placeholder ="¿Qué serie te apetece ver hoy?" type="text" id="setSeries" name="setSeries" class="page__main--input js-seriesInput" value="dexter">
        <!-- Eliminar el value del input antes de terminar el ejercicio -->
                <input type="submit" class="page__main--button search js-searchBtn" value="Buscar" />
                <input type="reset" class="page__main--button js-resetBtn" value="Borra" />
      </fieldset>
    </div>
    <include src="./results.html"></include>
  </form>
</main>
