.page__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 3rem;
  background-color: $color-dark;
  &--title {
    font-weight: 300;
    color: $color-light;
  }
}
